.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; 
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
    max-height: 100px;
    width: 100%;
}