@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%; 
    background-color: var(--red-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.2em;
    max-height: 100px;
    width: 100%;
}
#title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#logo {
    width: 7.5em;
    height: 4em;
}

#logoCasa{
    width: 10%;
    height: 5%;
    font-size: 1.7em; 
}

